@page
@model IndexModel
@{
    ViewData["Title"] = "Vaccine Tracker";
}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h1 class="display-4">UK COVID-19 Vaccine Tracker</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <canvas id="myChart" width="600" height="200"></canvas>
    </div>
    <div class="col-4">
        <div class="text-center">
            <h1>First dose</h1>
            <h1 id="firstDoseCount" class="display-3"></h1>
            <h1>Second dose</h1>
            <h1 id="secondDoseCount" class="display-3"></h1>
        </div>
    </div>
</div>